form {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}

label {
    font-size: 18px;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
}

input[type="radio"] {
    margin: 0 10px;
    transform: scale(1.2);
}

form {
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(222, 237, 102);
}